.flexmen > div{
    border: solid 10px; 
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 20px;


}


.flexmen{
    display: flex;
    
}


.flex{
    border: solid 10px;
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 20px;
}