.header{
    border: 1px solid black;
    height: 100px;
}

.nav{
    border: 1px solid black;
    height: 20px;
}

.main{
    border: 1px solid black;
    height: 400px;
    max-width: 600px;
    margin:auto 
}

.article{
    border: 1px solid black;
    height: 300px;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;  
}

.aside{
    border: 1px solid black;
    height: 70px;
    margin: auto;

}

.footer{
    border: 1px solid black;
    height: 20px;
    
}